#global-Body {
  padding-top: 5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#side-Col {
  position: fixed !important;
  right: 5vw;
  width: 30vw;
}

#todayJumbo {
  background-color: rgba(77, 169, 250, 0.767);
}

.hourCard {
  border-radius: 15px;
}

#userNameSpan {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: #f5f5f500;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #0a66c2;
}
